<p>
  user-link works!
</p>


<a routerLink="/user-link/user-franz-projects-1-subprojects-1">biglink</a>

<a [routerLink]="['/user-link']" [queryParams]="{url: 'projects/1/subprojects/7', projects:1, subprojects:2}" fragment="projects/1/subprojects/7">
  link to user component
</a>

<a routerLink="/simulation">simulation</a>

<a href="http://orf.at/">http://orf.at/</a>

<div>
  <label for="userId">userId</label>
  <input type="text" [(ngModel)]="userId" id="userId">
  <label for="userIdToSave">userIdToSave</label>
  <input type="text" [(ngModel)]="userIdToSave" value="tmp" id="userIdToSave">
  <button (click)="save(userIdToSave)">Save</button>
</div>

<div>
  <!--<dw-content name="franz1" [projects]="projects" [mainContent]="mainContent" [infoContent]="infoContent"></dw-content>-->
  <dw-content></dw-content>
</div>
<router-outlet></router-outlet>


<div>
  <input type="text" [(ngModel)]="nodeByUrl">
  <button (click)="testLoadNodeByUrl()">testLoadNodeByUrl</button>
  <input type="text" [(ngModel)]="nodesByUrl">
  <button (click)="testLoadNodesByUrl()">testLoadNodesByUrl</button>
</div>

<input type="text" [(ngModel)]="playGroundParam1">
<button (click)="playGround1()">playGround1</button>

<div><button (click)="testTest()">testTest</button>
</div>

<!--projects: {{projects | json}}-->

<!--<table>-->
  <!--<tr>  <td>"route.path"</td>         <td>{{ route.path | async | json }}</td> </tr>-->
  <!--<tr>  <td>"route.params"</td>       <td>{{ route.params | async | json }}</td> </tr>-->
  <!--<tr>  <td>"route.queryParams"</td>  <td>{{ route.queryParams | async | json }}</td> </tr>-->
  <!--<tr>  <td>"route.fragment"</td>     <td>{{ route.fragment | async | json }}</td> </tr>-->
  <!--<tr>  <td>"route.url"</td>          <td>{{ route.url | async | json }}</td> </tr>-->
  <!--<tr>  <td>"route.data"</td>         <td>{{ route.data | async | json }}</td> </tr>-->
  <!--<tr>  <td>"route.config"</td>       <td>{{ route.config | async | json }}</td> </tr>-->
  <!--<tr>  <td>"route.outlet"</td>       <td>{{ route.outlet | json }}</td> </tr>-->
  <!--<tr>  <td>"route.parent"</td>       <td>{{ route.parent }}</td> </tr>-->
  <!--<tr>  <td>"route.children"</td>     <td>{{ route.children }}</td> </tr>-->
<!--</table>-->
