<p>
  content component works!
</p>

<div style="background-color: brown" (click)="click($event)">Das ist der Name{{name}}</div>

<div>
  <div *ngFor="let project of projects; let i=index; let node=project" #item (click)="onClickNode(node, $event, i, item)">
    <i class="fa fa-plus-circle" aria-hidden="true" color="blue">xxx</i>
    <pre>title: {{project.properties.title}}</pre>
  </div>
  <!--<div *ngFor="let project of projects"><pre>{{project | json}}</pre></div>-->
</div>

<div class="flex-container">
  <dw-nav-content></dw-nav-content>
  <dw-main-content></dw-main-content>
  <dw-info-content></dw-info-content>
</div>


<!--<router-outlet></router-outlet>-->
