<div *ngFor="let dwNode of dwNodes; let i=index;" #item>
  <span>{{dwNodes?.properties?.title}}</span>
  <!--<span contenteditable="true">{{dwNode.text}}</span>-->
  <span (click)="onClick($event, dwNode, i, item)">{{dwNode.text}}</span>

  <!--<span>{{dwNode | json}}</span>-->

  <!--<input type="text" [(ngModel)]="dwNode.text">-->
  <!--<span [(ngModel)]="dwNode.text" contenteditable="true"></span>-->


  <dw-edit
    [editNode]="{dwNode: dwNode, index: i, dwNodes: dwNodes}"
    (onInsertNode)="onInsertNode($event)"
    (onDeleteNode)="onDeleteNode($event)"
    (onAddNodeLevel)="onAddNodeLevel($event)"
  >
  </dw-edit>
</div>

<dw-edit
  [editNode]="{dwNode: undefined, index: dwNodes?.length, dwNodes: dwNodes}"
  (onInsertNode)="onInsertNode($event)"
  (onDeleteNode)="onDeleteNode($event)"
  (onAddNodeLevel)="onAddNodeLevel($event)"
>
</dw-edit>
