<p>
  playground works!
</p>

<input [(ngModel)]="database.user.name" placeholder="database.user.name" />
<button (click)="getProject()">GetProject</button>
<input [(ngModel)]="database.save_with_name" placeholder="database.save_with_name" />
<button (click)="saveProject()">SaveProject</button>

<div>
  <a routerLink="git-playground">git-playground</a>
  <a routerLink="play1">play1</a>
  <a routerLink="play2">play2</a>
  <a routerLink="play3">play3</a>
  <a routerLink="sim-playground">sim-playground</a>
</div>

<div>
  <router-outlet></router-outlet>
</div>
